<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

<body>
    <div class="main-content">
        {{>header}}
        <p>{{text}}</p>
        <p><a href="https://www.linkedin.com/in/parth-dhawan-67253918b/">LinkedIn</a></p>
        <a href="mailto:pdhawan2001@gmail.com">Mail Me</a>
    </div>

    {{>footer}}
</body>
</head>

</html>